// Define variables for your color scheme

// Comment by Joyce: This is the red color used in Figma.
// You can use it for headlines, titles or any other important information
$red: #7a1010;

$blue: #053884;
$yellow: #9c7a3d;
$orange: #bf691d;
$green: #1EDD88;
$gray: #747474;
$medium-gray: #a4a4a4;
$light-gray: #e8e8e8;
$white: #d4d4d4
