<% if booking.latitude && booking.longitude %>
  <div style="width: 100%; height: 300px;" id="map-<%= booking.id %>"
    data-controller="map"
    data-map-markers-value="<%= [
      {
        booking: booking,
        lat: booking.latitude,
        lng: booking.longitude,
        info_window_html: render(partial: 'info_window', locals: { booking: booking }),
        marker_html: render(partial: 'marker')
      }
    ].to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
<% else %>
  <div>
    Map cannot be displayed for this booking.
  </div>
<% end %>
