<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('landing_hero.jpg') %>)">
  <div class="container">
    <h1 class="no-filter">DEATH DEALERS</h1>
    <p>UNLEASH THE SHADOWS: EMPOWER YOUR WILL WITH LETHAL PRECISION</p>
  </div>
</div>
