<h1>All Assassins</h1>
<ul>
  <% @assassins.each do |assassin| %>
    <li><%= assassin.name %></li>
    <li><%= assassin.weapon %></li>
    <li><%= cl_image_tag assassin.photo.key, height: 200, width: 300, crop: :fill %></li>
    <%= link_to "See More", assassin_path(assassin) %>
  <% end %>
</ul>
