.banner {
  background-size: cover;
  background-position: center bottom 30%;
  padding: 150px 0;
  filter: grayscale(100%);
  position: relative;
  max-height: 350px; /* Adjust this value to your desired width */
  margin: 0 auto;
  min-width: 600px;
}

.container {
  justify-content: center;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 50px;
  font-weight: bold;
  font-family: $primary-font;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
  filter: none;
}

.banner p {
  font-size: 30px;
  color: white;
  opacity: .7;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
  font-family: $primary-font;
}
