
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}
.small-btn {
  font-size: small;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 3px;
}
.small-btn:hover{
  color: white;
}

.card-product {
  overflow: hidden;
  height: 276px;
  width: 276px;
  background: #d9d9d9;
  box-shadow: 5px 5px 1px rgba(0,0,0,0.2);
}
.card-product-infos {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
// .card-product img {
//   top:0;
//   height: 150px;
//   width: 235px;
//   object-fit: cover;
// }

.card-product h2 {
  font-size: 25px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-product p {
  font-size: 15px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 1px;
}

.card-product .card-product-infos {
  padding: 1px;
}

// .card-product-pic {
//   margin: auto;
//   &:img {
//     object-fit: cover;
//   }
// }

// CARD FOR ASSASSIN(SHOW) and BOOKING(SHOW)
// ----- big card --------------------

.cards-profile {
  background: #BBBBBB;
  box-shadow: 5px 5px 1px rgba(0,0,0,0.2);
  //width: 1045px;
  min-width: fit-content;
}

.cards-profile p {
  color: white;
  font-size: 20px;
  padding: 11px;
}

.card-profile {
  display: flex;
  align-items: center;
}

.card-profile img {
  height: 100%;
  width: 350px;
  object-fit: cover;
}

.card-profile h2 {
  font-size: 30px;
  color: $red;
  font-weight: bold;
  margin: 0;
}

.card-profile p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;

}

// assassin bookings
.cards-2column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

// Cards for Booking
.card-booking {
  margin: 16px
}

.card-profile .card-profile-infos {
  padding: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.hidden {
  display: none;
}
