// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/home";

body {
  background-color: rgb(55, 54, 54); /* Replace with your desired background color */
  background: linear-gradient(135deg, #373636 0%, #808284 100%)
}

h1, h2 {
  color: white;
}
